<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-info d-flex flex-column">
        <h1 class="text-center">POLIZIA DI STATO</h1>
        <div class="d-flex justify-content-center">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <hr />
            <div class="collapse navbar-collapse d-sm-inline-flex bg-info justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trasgressori", "ListaTrasgressori", "Trasgressore", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Violazioni", "ListaViolazioni", "Violazione", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Verbali", "ListaVerbali", "Verbale", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registro Verbali", "Registro", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
